* {
  box-sizing: border-box;
}
:root {
    --b1: #004dff;
    --b2: #f19696b3;
}

a {
  color: #000;
}
a:hover {
}

body {
  background-color: #fff;
  font:
    16px Times,
    serif;
}
textrea,
select,
input,
button {
  font: inherit;
}
video {
  width: 100%;
}

h1 {
}

#app {
}

button {
}
button:hover {
}
button:focus,
button:focus-visible {
}
